{{#if showCompactVersion}}
  {{! Custom/Mobile Version }}
  <li class="navigation-toggle">
    <a href {{action "toggleDrop"}} class="toggle-link">
      {{selectedNavItem.displayName}}
      {{d-icon
        (if expanded (theme-setting "open_icon") (theme-setting "closed_icon"))
      }}
    </a>
  </li>
  {{#if isMobile}}
    {{#if expanded}}
      <ul class="drop">
        {{#each navItems as |navItem|}}
          {{navigation-item
            content=navItem
            filterMode=filterMode
            category=category
          }}
        {{/each}}
        {{plugin-outlet
          name="extra-nav-item"
          connectorTagName="li"
          args=(hash category=category filterMode=filterMode)
        }}
      </ul>
    {{/if}}
  {{else}}
    {{#if expanded}}
      <ul class="drop">
        {{#each navItems as |navItem|}}
          {{#if (shouldBeInternal navItem selectedNavItem.displayName)}}
            {{navigation-item
              content=navItem
              filterMode=filterMode
              category=category
            }}
          {{/if}}
        {{/each}}
        {{plugin-outlet
          name="extra-nav-item"
          connectorTagName="li"
          args=(hash category=category filterMode=filterMode)
        }}
      </ul>
    {{/if}}

    {{#each navItems as |navItem|}}
      {{#if (shouldBeExternal navItem selectedNavItem.displayName)}}
        {{navigation-item
          content=navItem
          filterMode=filterMode
          category=category
          classNames="external"
        }}
      {{/if}}
    {{/each}}
  {{/if}}

{{else}}

  {{! Default/Desktop Version }}
  {{#each navItems as |navItem|}}
    {{navigation-item content=navItem filterMode=filterMode category=category}}
  {{/each}}
  {{custom-html name="extraNavItem" tagName="li"}}
  {{! this is done to avoid DIV in the UL, originally {{plugin-outlet name="extra-nav-item"}}
  {{plugin-outlet
    name="extra-nav-item"
    connectorTagName="li"
    args=(hash category=category filterMode=filterMode)
  }}
{{/if}}